/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-image: url("bg.jfif");
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
    color: #fff;
    text-align: center;
}

/* NAVBAR */
.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu-toggle {
    font-size: 26px;
    display: none;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* HERO */
.hero {
    padding: 90px 20px 40px;
    backdrop-filter: brightness(0.5);
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    max-width: 700px;
    margin: auto;
}

/* CONTENT */
.content {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 40px;
    flex-wrap: wrap;
    background: #ffe7f8;
}

.section {
    width: 100%;
    background: #fff;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.section-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.section-desc {
    font-size: 17px;
    color: #444;
    text-align: justify;
}

.card {
    width: 300px;
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

.readmore {
    text-decoration: none;
    color: #3a7afe;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #fff;
}

/* RESPONSIVE MOBILE */
@media(max-width: 900px) {
    .menu-toggle {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 80px;
        right: 40px;
        background: white;
        width: 180px;
        padding: 20px;
        display: none;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    }

    .navbar ul {
        flex-direction: column;
        gap: 15px;
    }

    .navbar a {
        color: #333;
    }

    .navbar.show {
        display: block;
    }
}

@media(max-width: 600px) {
    .hero h1 {
        font-size: 28px;
    }

    .card {
        width: 100%;
    }
}
